:root {
    --greenish-gray: rgb(144, 132, 99);
    --bg-main: rgb(251, 232, 190);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
}

header > div {
    text-align: center;
}

header > div > img {
    margin: 2em 0;
}

#nav-menu {
    height: 2.5em;
    vertical-align: middle;
    background-color: chocolate;

}

#nav-menu > nav {
    height: 100%;
    display: flex;
    justify-content: center;    
}

#nav-menu > nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu > nav > ul > li {
    padding: 0.8em 1.6em;
    transition: background-color 0.3s;
}

#nav-menu > nav > ul > li:hover {
    background-color: rgb(207, 150, 109);
}

#nav-menu > nav > ul > li > a {
    text-decoration: none;
    color: seashell;
}



#banner {
    margin: 1em;
    text-align: center;
}

#banner > h1 {
    font-size: 2.6em;
    color: var(--greenish-gray);
}

#banner > h1, #banner > div > img {
    padding: 0.8em 0;
}

.info {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--greenish-gray);
}

#menu-info {
    font-size: 1.8em;
    text-align: center;
}

#menu-title {
    margin: 3.125em 0;
    text-align: center;
}

#menu-title > p {
    font-size: 1.6em;
    color: var(--greenish-gray);

}

table {
    margin: 1em auto;
}

th {
    padding: 1em;
    vertical-align: middle;
}

td {
    vertical-align: top;
    padding: 1em;
}

table > tbody > tr > td:nth-child(3) {
    text-align: center;
}

tfoot > tr {
    background-color: var(--greenish-gray);
}

tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
}

/* CONTACT */

#contact-container {
    max-width: 35%;
    margin: 2em auto;
    /* padding: 20% 25%; */
}

#contact-card {
    background-color: rgb(255, 244, 221);
    /* width: 100%; */
    border-radius: 6px;
    box-shadow: 0px 21px 35px rgb(180 185 193 / 29%)
}

.contact-info {
    max-width: 80%;
    margin: 0 auto;
}

#contact-title > p {
    font-size: 1.8em;
    padding: 1em 0;
}

#visitor-info > label {
    text-align: left;
    line-height: 2em;
}

#visitor-info > input {
    margin-bottom: 2em;
    height: 2.5em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
}

#visitor-info {
    display: flex;
    flex-direction: column;
}

#contact-message > label {
    text-align: left;
}

#message {
    width: 100%;
    height: 6em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    resize: none;
}

#button-container {
    width: 100%;
}

#button-send {
    margin: 3em 0;
    width: 100%;
    height: 2.6em;
    outline: none;
    background-color: chocolate;
    border: transparent;
    border-radius: 5px;
    color: seashell;
    cursor: pointer;
}

/* LOCAL */

#title-map {
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    color: rgb(76, 49, 40);
}

.map {
    text-align: center;
    height: 100%;
}

.map > iframe {
    border: 5px solid white;
    width: 400px;
    height: 400px;
}