:root {
    --chocolat-medium: #4e2f25;
    --bg-main: #fffaf0;
    --chocolat-light: #7e4e3e;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    width: 100%;
    text-align: center;
    background-color: var(--bg-main);
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

header > h1 {
    visibility: hidden;
}

header > div {
    text-align: center;
}

header > div > img {
    margin: 2em 0;
}

#nav-menu {
    height: 2.5em;
    vertical-align: middle;
    background-color: var(--chocolat-medium);

}

#nav-menu > ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#nav-menu > ul > li {
    height: inherit;
    transition: background-color 0.3s;
}

#nav-menu > ul > li:hover {
    background-color: #7e4e3e;
}

#nav-menu > ul > li > a {
    display: block;
    padding: 0.8em 1.6em;
    text-decoration: none;
    color: seashell;
}

#banner > h2 {
    font-size: 2.6em;
    margin: 1em 0;
    font-weight: normal;
    color: var(--chocolat-medium);
}

#banner > img {
    width: 100%;
    border-radius: 8px;
}

#options {
    display: flex;
    margin: 4em 0;
}

#options > section {
    max-width: 50%;
}

#options > section > h2 {
    font-size: 1.4em;
    text-align: start;
    margin-bottom: 0.8em;
    color: var(--chocolat-medium);
}

#options > section > div {
    display: flex;
    flex-direction: row-reverse;
}

#options > section > div > p {
    text-align: start;
    margin-left: 1em;
}

#options > section > div > img {
    border-radius: 50%;
}

#options #map {
    margin-left: 3em;
}

footer {
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 1em 0;
    vertical-align: middle;
    color: black;
}

.info {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--chocolat-medium);
}

#menu-info {
    font-size: 1.8em;
    text-align: center;
}

#menu-title {
    margin: 3.125em 0;
    text-align: center;
}

#menu-title > p {
    font-size: 1.6em;
    color: var(--chocolat-medium);

}

table {
    margin: 1em auto;
}

th {
    padding: 1em;
    vertical-align: middle;
}

td {
    vertical-align: middle;
    text-align: start;
    padding: 1em;
}

table > tbody > tr > td > p:nth-child(1) {
    font-size: 1.4em;
    color: var(--chocolat-medium);
    margin-bottom: 0.2em;
}

tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
}

/* CONTACT */

#contact {
    background-color: rgb(255, 244, 221);
    border-radius: 6px;
    box-shadow: 0px 21px 35px rgb(180 185 193 / 29%);
    padding: 0 3em;    
    max-width: 720px;
    margin: 4em auto;
}

#title > p {
    font-size: 1.8em;
    padding: 1em 0;
}

#info {
    display: flex;
    flex-direction: column;
}

#info > label {
    text-align: left;
    line-height: 2em;
}

#info > input {
    margin-bottom: 2em;
    height: 2.5em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
}

#message {
    height: 6em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    resize: none;
}

#message > label {
    text-align: left;
}

#btn-send {
    margin: 3em 0;
    width: 100%;
    height: 2.6em;
    outline: none;
    background-color: var(--chocolat-medium);
    border: transparent;
    border-radius: 5px;
    color: seashell;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btn-send:hover {
    background-color: var(--chocolat-light);
}

/* LOCAL */

#title-map {
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    color: rgb(76, 49, 40);
}

.map {
    text-align: center;
    height: 100%;
}

.map > iframe {
    border: 5px solid white;
    width: 400px;
    height: 400px;
}